.main {
  padding-top: 100px;
  padding-bottom: 150px;
}

.choose__container {
  text-align: center;
}

.choose__title {
  color: #151515;
  font-family: "Inter";
  font-size: 48px;
  font-weight: 700;
}

.choose__title:not(:last-child) {
  margin-bottom: 50px;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
}

.menu__item {
  color: #151515;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.menu__item:hover {
  color: #06F;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__item:not(:hover) {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (max-width: 864px) {
  .menu__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)(2);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}
@media (max-width: 550px) {
  .choose__title {
    font-size: 35px;
  }
  .menu__items {
    -ms-grid-columns: (1fr)(1);
    grid-template-columns: repeat(1, 1fr);
  }
}