.header {
    position: relative;
    /* background: url(/img/header/header__background.jpg) no-repeat; */
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 100vh;
}
.header__container {
    position: relative;
    padding: 40px 15px;
    z-index: 2;
}
.header__top {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    gap: 30px;
}
.header__logo {
}
.header__menu {
    display: flex;
    justify-content: end;

    width: 1110px;
}
.menu-header {
}
.menu-header__list {
}
.menu-header__items {
    display: flex;
    gap: 35px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}
.menu-header__item {
}
.menu-header__item:hover {
    transform: scale(1.1);
    transition: all 0.3s ease 0s;
}
.menu-header__item:not(:hover) {
    transition: all 0.5s ease 0s;
}
.menu-header__link {
}
.menu-header__link:hover {
    color: #000;
    transition: all 0.3s ease 0s;
}
.menu-header__link:not(:hover) {
    transition: all 0.5s ease 0s;
}
.header__bottom {
    padding-top: 247px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-bottom__title {
    color: #fff;
    font-size: 96px;
    font-weight: 700;
}
.header-bottom__title:not(:last-child) {
    margin-bottom: 38px;
}
.header-bottom__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    max-width: 430px;
    padding: 23px 100px;
    background-color: #151515;
}
.header-bottom__button:hover {
    border-radius: 30px 10px 30px 10px;
    transition: all 0.3s ease 0s;
    transform: scale(1.1);
}
.header-bottom__button:not(:hover) {
    transition: all 0.5s ease 0s;
}
.header-bottom__link {
    color: #fff;
    font-family: "Inter";
    font-size: 36px;
    font-weight: 700;
}
@media (max-width: 1440px) {
    .header__top:not(:last-child) {
        margin-bottom: 70px;
    }
    .header-bottom__title {
        font-size: 70px;
    }
    .header-bottom__link {
        font-size: 25px;
    }
    .header-bottom__button {
        padding: 18px 70px;
    }
}
@media (max-width: 991.98px) {
    .header__top:not(:last-child) {
        margin-bottom: 100px;
    }
    .menu-header__items {
        gap: 30px;
        font-size: 14px;
    }
    .header-bottom__title {
        font-size: 66px;
    }
    .header-bottom__button {
        padding: 20px 90px;
    }
    .header-bottom__link {
        font-size: 26px;
    }
}
@media (max-width:767.98px) {
    .header-bottom__title {
        font-size: 56px;
    }
    .header-bottom__link {
        font-size: 20px;
    }
    .header-bottom__button {
        padding: 16px 70px;
    }
    .header__top:not(:last-child) {
        margin-bottom: 50px;
    }
    .header__logo img {
        width: 73px;
    }
    .menu-header__items {
        flex-wrap: wrap;
        gap: 25px;
        font-size: 12px;
    }
}
@media (max-width: 476.98px) {
    .header__top:not(:last-child) {
        margin-bottom: 30px;
    }
    .header-bottom__title {
        font-size: 46px;
    }
    .header-bottom__button {
        padding: 12px 50px;
    }
    .header-bottom__link {
        font-size: 16px;
    }
    .header__top {
        flex-direction: column;
    }
    .header__menu {
        align-self: center;
    }
}
/*slider*/
.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
    /* background-size: cover;
    background-position: center; */
    max-width: 100%;
    height: 100vh;
}
.swiper-pagination {
}
.swiper-pagination-bullet {
    width: 120px;
    height: 3px;
    background-color: #151515;
    border-radius: 0;
}
.swiper-pagination-bullet-active {
    height: 6px;
    background-color: #fff;
    border-radius: 0;
}