.header {
    background-color: #000;
}
.header__container {
    padding: 40px 15px;
}
.header__top {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.header__top:not(:last-child) {
    margin-bottom: 152px;
}
.header__logo {
}
.header__menu {
    align-self: flex-end;
}
.menu-header {
}
.menu-header__list {
}
.menu-header__items {
    display: flex;
    gap: 35px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
.menu-header__item {
}
.menu-header__link {
}
.menu-header__link:hover {
    color: #06F;
    transition: all 0.3s ease 0s;
}
.menu-header__link:not(:hover) {
    transition: all 0.5s ease 0s;
}
@media (max-width: 991.98px) {
    .header__top:not(:last-child) {
        margin-bottom: 100px;
    }
    .menu-header__items {
        gap: 30px;
        font-size: 14px;
    }
}
@media (max-width:767.98px) {
    .header__top:not(:last-child) {
        margin-bottom: 50px;
    }
    .header__top {
        flex-direction: column;
    }
    .header__menu {
        align-self: center;
    }
    .header__logo img {
        width: 73px;
    }
    .menu-header__items {
        flex-wrap: wrap;
        gap: 25px;
        font-size: 12px;
    }
}
@media (max-width: 476.98px) {
    .header__top:not(:last-child) {
        margin-bottom: 30px;
    }
}