@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Inter:regular&display=swap);
/*================================================================================================================================*/
body {
    font-family: "Inter";
    font-weight: 400;
    color: #151515;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}
[class*="__container"] {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
/*pages*/
.page {
}
.page__why {
}
.page__how {
}
.page__welcome {
}
.page__important {
}
/*header start*/
.header {
    background: url(/img/header/header__background.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.header__container {
    padding: 40px 15px;
}
.header__top {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.header__top:not(:last-child) {
    margin-bottom: 152px;
}
.header__logo {
}
/* .header__logo img {
    max-width: 100%;
} */
.header__menu {
    align-self: flex-end;
}
.menu-header {
}
.menu-header__list {
}
.menu-header__items {
    display: flex;
    gap: 35px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
.menu-header__item {
}
.menu-header__link {
}
.menu-header__link:hover {
    text-decoration: underline;
}
.header__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-bottom__title {
    color: #8a8787;
    font-size: 96px;
    font-weight: 700;
}
.header-bottom__title:not(:last-child) {
    margin-bottom: 38px;
}
.header-bottom__button {
    display: flex;
    justify-content: center;
    max-width: 430px;
    padding: 23px 100px;
    transition: all 0.3s ease 0s;
}
.header-bottom__link {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
}
.header-bottom__link:hover {
    color: #959396;
}
@media (max-width: 991.98px) {
    .header__top:not(:last-child) {
        margin-bottom: 100px;
    }
    .menu-header__items {
        gap: 30px;
        font-size: 14px;
    }
    .header-bottom__title {
        font-size: 66px;
    }
    .header-bottom__button {
        padding: 20px 90px;
    }
    .header-bottom__link {
        font-size: 26px;
    }
}
@media (max-width:767.98px) {
    .header {
        
    }
    .header__top:not(:last-child) {
        margin-bottom: 50px;
    }
    .header__top {
        flex-direction: column;
    }
    .header__menu {
        align-self: center;
    }
    .header__logo img {
        width: 73px;
    }
    .menu-header__items {
        flex-wrap: wrap;
        gap: 25px;
        font-size: 12px;
    }
    .header-bottom__title {
        font-size: 56px;
    }
    .header-bottom__button {
        padding: 16px 70px;
    }
    .header-bottom__link {
        font-size: 20px;
    }
}
@media (max-width: 476.98px) {
    .header__top:not(:last-child) {
        margin-bottom: 30px;
    }
    .header-bottom__title {
        font-size: 46px;
    }
    .header-bottom__button {
        padding: 12px 50px;
    }
    .header-bottom__link {
        font-size: 16px;
    }
}
/*header end*/

/*why start*/
.why {
    padding-top: 150px;
}
.page-why__container {
}
.page-why__title {
    text-align: center;
    color: #151515;
    font-size: 48px;
    font-weight: 700;
}
.page-why__title:not(:last-child) {
    margin-bottom: 50px;
}
.page-why__column {
    display: flex;
    gap: 40px;
}
.page-why__items {
    align-items: center;
}
.page-why__image {
    display: flex;
    justify-content: center;
}
.page-why__image:not(:last-child) {
    margin-bottom: 30px;
}
.page-why__column-title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.page-why__column-title:not(:last-child) {
    margin-bottom: 30px;
}
.page-why__column-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%; /* 20.8/16 */
}
@media (max-width: 991.98px) {
    .page-why__column {
        flex-direction: column;
    }
    .page-why__title {
        font-size: 38px;
    }
    .page-why__column-text {
        text-align: center;
    }
}
@media (max-width: 767.98px) {
    .why {
        padding-top: 100px;
    }
}
@media (max-width: 479.98px) {
    .page-why__title {
        font-size: 30px;
    }
}
/*why end*/

/*how start*/
.how {
    padding-top: 150px;
}
.page-how__container {
    max-width: 605px;
}
.page-how__header {
}
.how-header {
}
.how-header__title {
    text-align: center;
    color: #151515;
    font-size: 48px;
    font-weight: 700;
}
.how-header__title:not(:last-child) {
    margin-bottom: 50px;
}
.how-header__text {
    text-align: left;
    color: #151515;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3; /* 20.8/16 */
}
.page-how__main {
    padding-top: 50px;
}
.how-main {
}
.how-main__title {
    color: #151515;
    font-size: 24px;
    font-weight: 700;
}
.how-main__title:not(:last-child) {
    margin-bottom: 50px;
}
.how-main__info {
}
.how-main__list {
}
.how-main__items {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-left: 67px;
}
.how-main__item {
    display: flex;
    align-items: center;
    column-gap: 140px;
}
.how-main__text {
    color: #151515;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
}
.how-main__text-bottom {
    padding-top: 70px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3; /* 20.8px */
}
@media (max-width: 991.98px) {
    .how-header__title {
        font-size: 38px;
    }
    .how {
        padding-top: 100px;
    }
}
@media (max-width: 767.98px) {
    .how-main__items {
        padding-left: 0;
    }
    .how-main__item {

    }

    .how-main__title {
        font-size: 20px;
    }
    .how-main__title:not(:last-child) {
        margin-bottom: 30px;
    }
    .how-header__title:not(:last-child) {
        margin-bottom: 30px;
    }
    .how-header__text {
        font-size: 14px;
    }
    .how-main__item {
        column-gap: 40px;
    }
    .how-main__text {
        font-size: 14px;
    }
}
@media (max-width: 479.98px) {
    .how-main__text-bottom {
        padding-top: 50px;
    }
    .how-main__item {
        column-gap: 20px;
    }
    .how-header__title {
        font-size: 30px;
    }
} 
/*how end*/

/*welcome start*/
.welcome {
    padding-top: 150px;
}
.welcome__container {
    text-align: center;
}
.welcome__title {
    color: #151515;
    font-size: 48px;
    font-weight: 700;
}
.welcome__title:not(:last-child) {
    margin-bottom: 20px;
}
.welcome__text {
    color: #151515;
    font-size: 24px;
    font-weight: 700;
}
.welcome__text:not(:last-child) {
    margin-bottom: 50px;
}
.welcome__video {
}
@media (max-width: 991px) {
    .welcome {
        padding-top: 100px;
    }
    .welcome__title {
        font-size: 38px;
    }
    .welcome__text:not(:last-child) {
        margin-bottom: 30px
    }
    .welcome__text {
        font-size: 20px;
    }
    .welcome__video iframe {
        width: 600px;
        height: 300px;
    }
}
@media (max-width: 767.98px) {
    .welcome {
        padding-top: 80px;
    }

    .welcome__text {
        font-size: 16px;
    }
    .welcome__text:not(:last-child) {
        margin-bottom: 25px;
    }
    .welcome__video iframe {
        width: 500px;
        height: 270px;
    }
}
@media (max-width: 540px) {
    .welcome__video iframe {
        width: 450px;
        height: 250px;
    }
}
@media (max-width: 479.98px) {
    .welcome {
        padding-top: 60px;
    }
    .welcome__video iframe {
        width: 300px;
        height: 210px;
    }
    .welcome__title {
        font-size: 30px;
    }
}
/*welcome end*/

/*important start*/
.important {
    padding-top: 150px;
    margin-bottom: 150px;
}
.important__container {
}
.important__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.important__header:not(:last-child) {
    margin-bottom: 50px;
}
.important__title {
    color: #151515;
    font-size: 48px;
    font-weight: 700;
}
.important__title:not(:last-child) {
    margin-bottom: 20px;
}
.important__text {
    max-width: 580px;
    text-align: left;
    color: #151515;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3; /* 20.8px */
}
.important__main {
}
.important-main__menu {
}
.menu-important {
}
.menu-important__list {
}
.menu-important__items {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}
.menu-important__item {
}
.menu-important__item img {
    max-width: 100%;
    margin-bottom: 20px;
}
.menu-important_text {
    max-width: 270px;
    color: #151515;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3; /* 20.8px */
}
@media (max-width: 991.98px) {
    .important {
        padding-top: 100px;
        margin-bottom: 100px;
    }
    .important__title {
        font-size: 38px;
    }
    .menu-important__items {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
    }
}
@media (max-width: 767.98px) {
    .important {
        padding-top: 80px;
        margin-bottom: 80px;
    }
    /* .important__header:not(:last-child) {
        margin-bottom: 20px;
    } */
}
@media (max-width: 479.98px) {
    .important {
        padding-top: 60px;
        margin-bottom: 60px;
    }
    .important__title {
        font-size: 30px;
    }
}
/*important end*/

/*footer start*/
.footer {
    background-color: #151515;
}
.footer__container {
    padding: 50px 80px;
}
.footer__menu {
}
.footer__menu:not(:last-child) {
    margin-bottom: 50px;
}
.footer__list {
}
.footer__items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.footer__item {
}
.footer__title {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
.footer__title:not(:last-child) {
    margin-bottom: 40px;
}
.footer-list__link {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.footer__link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3; /* 20.8px */
}
.footer__link:hover {
    text-decoration: underline;
}
.footer__download {
    text-align: center;
}
.footer__download:not(:last-child) {
    margin-bottom: 50px;
}
.footer__bottom {
    text-align: center;
}
.download__text {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}
.download__text:not(:last-child) {
    margin-bottom: 30px;
}
.foote__info {
}
.footer-info__items {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.footer-info__link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3; /* 20.8px */
}
.footer-info__link:hover {
    text-decoration: underline;
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
    .footer__items {
        row-gap: 50px;
        display: grid;
        text-align: center;
        grid-template-columns: auto;
        justify-content: center;
    }
    .footer-info__items {
        flex-direction: column;
        gap: 20px;
    }
    .footer__title:not(:last-child) {
        margin-bottom: 20px;
    }
}
@media (max-width: 479.98px) {
    .footer__download:not(:last-child) {
        margin-bottom: 20px;
    }
    .footer__items {
        justify-content: center;
    }
    .download__text {
        text-align: left;
    }
    .footer__menu:not(:last-child) {
        margin-bottom: 30px;
    }
}
/*footer end*/