@import url(https://fonts.googleapis.com/css?family=Inter:regular700&display=wrap);
/*default*/
body {
    font-family: "Inter";
    font-weight: 400;
    color: #151515;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}
[class*="__container"] {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
/*pages*/
.page {
}
.page__why {
}
.page__how {
}
.page__welcome {
}
.page__important {
}
/*index2*/
.page__cars {
}
.page__twoimage {
}
/*index3*/
.page__contact {
}