.twoimage {
    padding-top: 150px;
}
.twoimage__container {
    text-align: center;
}
.twoimage__items {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    row-gap: 50px;
}
.twoimage__items:not(:last-child) {
    margin-bottom: 70px;
}
.twoimage__item {
    max-width: 580px;
}
.twoimage__item img {
    max-width: 100%;
}
.twoimage__item img:not(:last-child) {
    margin-bottom: 30px;
}
.item__flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.item-flex__text {
    color: #151515;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 700;
}
.item-flex__button {
    display: inline-block;
    background-color: #06F;
    padding: 4px 10px;
    color: #fff;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
}
.item-flex__button:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: all 0.3s ease 0s;
}
.item-flex__button:not(:hover) {
    transition: all 0.5s ease 0s;
}
.button {
    display: inline-flex;
    padding: 13px 61px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    background-color: #151515;
}
.button:hover {
    transform: scale(1.1);
    transition: all 0.3s ease 0s;
    border-radius: 30px 10px 30px 10px;
}
.button:not(:hover) {
    transition: all 0.5s ease 0s;
}
@media (max-width: 1065px) {
    .twoimage__container {
        display: grid;
        justify-content: center;
    }
    .twoimage__items {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .button {
        margin: 0 auto;
        max-width: 223px;
    }
}
@media (max-width: 540px) {
    .item-flex__text {
        font-size: 20px;
    }
}